AcceptPathInfo Off
DirectoryIndex index.php index.html
Options SymLinksIfOwnerMatch
AddDefaultCharset utf-8
AddCharset utf-8 .css .js .cjs .mjs .json .xml .md

<IfModule rewrite_module>
	RewriteEngine On
	RewriteCond %{HTTP_USER_AGENT} ^\s*$
	RewriteRule ^ - [R=402,END]
</IfModule>

<IfModule alias_module>
    RedirectMatch 410 /\.(?!well-known/acme-challenge/)
    RedirectMatch 410 ^/(?:vendor|node_modules|scss)/
    RedirectMatch 410 /wp-(?:login|admin|includes)
	RedirectMatch 410 /.+\.(?:lock|config\.[jt]s)$
    RedirectMatch 410 /(?:make|Docker|Jenkins|Proc)file$
	RedirectMatch 410 /(?:wlwmanifest|pom|phpunit)\.xml$
	RedirectMatch 410 /(?:package|package-lock|tsconfig|cypress|angular)\.json$
	RedirectMatch 410 /(?:xmlrpc\.php|requirements\.txt|build\.gradle|mkdocs\.yml|pyproject\.toml|pytest\.ini)$
</IfModule>
<IfModule !alias_module>
	<IfModule rewrite_module>
		RewriteRule (?:^|/)\.(?!well-known/acme-challenge/) - [G,L]
		RewriteRule ^(?:vendor|node_modules|scss)/ - [G,L]
		RewriteRule (?:^|/)wp-(?:login|admin|includes) - [G,L]
		RewriteRule ^.+\.(?:lock|config\.[jt]s)$ - [G,L]
		RewriteRule ^(?:make|Docker|Jenkins|Proc)file$ - [G,L]
		RewriteRule ^(?:wlwmanifest|pom|phpunit)\.xml$ - [G,L]
		RewriteRule ^(?:package|package-lock|tsconfig|cypress|angular)\.json$ - [G,L]
		RewriteRule ^(?:xmlrpc\.php|requirements\.txt|build\.gradle|mkdocs\.yml|pyproject\.toml|pytest\.ini)$ - [G,L]
	</IfModule>
	<IfModule !rewrite_module>
		<Files ".*">
			Require all denied
		</Files>
		<Files "*.lock">
			Require all denied
		</Files>
		<Files "*.config.?s">
			Require all denied
		</Files>
		<FilesMatch "^(?:make|Docker|Jenkins|Proc)file$">
			Require all denied
		</FilesMatch>
		<FilesMatch "^(?:wlwmanifest|pom|phpunit)\.xml$">
			Require all denied
		</FilesMatch>
		<FilesMatch "^(?:package|package-lock|tsconfig|cypress|angular)\.json$">
			Require all denied
		</FilesMatch>
		<FilesMatch "^(?:xmlrpc\.php|requirements\.txt|build\.gradle|mkdocs\.yml|pyproject\.toml|pytest\.ini)$">
			Require all denied
		</FilesMatch>
	</IfModule>
</IfModule>

<IfModule rewrite_module>
	# 強制 HTTPS
	RewriteCond %{HTTPS} off
	RewriteRule ^(?!well-known/acme-challenge/) https://%{HTTP_HOST}%{REQUEST_URI} [R=308,QSA,L]

	# 找不到就導向特定檔案。適用如 WordPress 的網址設計，或是想用相對路徑指定錯誤頁面。
	#RewriteCond %{REQUEST_FILENAME} !-f
	#RewriteCond %{REQUEST_FILENAME} !-d
	#RewriteRule . error.php [QSA,L]
</IfModule>

<IfModule headers_module>
	Header always set Strict-Transport-Security max-age=31536000 env=HTTPS
	Header always set Referrer-Policy same-origin
	<FilesMatch "^(?!.+\.php$)">
		Header always set Cache-Control "max-age=86400, must-revalidate, public"
	</FilesMatch>
</IfModule>
