[Site]
site.base = "/php-website-template/"
site.name = "MyWebsite"
language = "zh-Hant-TW"
locale = "zh_TW"
generator = "RichDogStudio"


[PDO]
dsn.driver = "mysql"
dsn.host = "localhost"
dsn.dbname = "test"
dsn.charset = "utf8mb4"
pdo.username = null
pdo.password = null


[Google]
google.id = ""
google.secret = ""
google.auth_uri = "https://accounts.google.com/o/oauth2/auth"
google.token_uri = "https://oauth2.googleapis.com/token"
google.redirect_uri = "login.php"
