[Site]
site.base = "/php-website-template/"
site.name = "MyWebsite"
language = "zh-Hant-TW"
locale = "zh_TW"
generator = "RichDogStudio"
dir.logs = "var/logs"
dir.uploads = "var/uploads"


[PDO]
dsn.driver = "mysql"
dsn.host = "localhost"
dsn.dbname = "test"
dsn.charset = "utf8mb4"
pdo.username = null
pdo.password = null


[Google]
google.id = ""
google.secret = ""
google.redirect_uri = "login.php"
